/node_modules
/ingest
*.log
.DS_Store
.env
/.cache
/public/build
/build
/playwright-report
.git
.gitignore
.dockerignore
Dockerfile
.gitpod.yml
.gitpod.Dockerfile
/test-results
prisma/data.db
/ingest
.github
.vscode
.react-email